.modal{
display: flex;
background-color: rgb(49,49,49,0.8);
justify-content: center;
align-items: center;
}
#for {
/* border: 2px solid black; */
border-radius: 0.5%;
width: 100%;
height: 100%;
position: relative;
background-color: white;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
top: 10%;
overflow: auto;
}
.Drake {
top: 0%;
/* border: 2px solid black; */
left: 0%;
width: 40%;
}
.Eminem {
width: 40%;
/* border: 2px solid black; */
}
.Taylor {
left: 0%;
top: 0%;
/* border: 2px solid black; */
width: 40%;
}
.Halsey {
width: 40%;
/* border: 2px solid black; */
}
.Rana {
/* border: 2px solid black; */
width: 40%;
}
.Draco {
/* border: 2px solid black; */
width: 40%;
}
.Leo {
/* border: 2px solid black; */
width: 40%;
}
.Tom {
width: 40%;
/* border: 2px solid black; */
}
.Hardy {
/* border: 2px solid black; */
width:40%;
}
.Lord {
width: 40%;
/* border: 2px solid black; */
}
.btn {
position: relative;
top: 100%;
left: 50%;
/* border: 2px solid black; */
width: 50%;
background-color: rgba(37,45,58,.4);
color: white;
}
.form-control,.form-select,.btn:focus {
box-shadow: none !important;
}
.Ikaris,:focus~.Form{
top: -1.3rem;
background-color: white;
}
#zeus:hover{
background-color: rgba(37,45,58);
color: white;
}
#btn1:hover{
background-color: rgba(37,45,58);
color: white;
}
.icon-button{
background-color: white;
border: none !important;
}
.material-icons{
color: red;
border: none !important;
}
#btn1{
position: relative;
top: 0%;
left: 5%;
/* border: 2px solid black; */
width: 16%;
background-color: rgba(37,45,58,.4);
color: white;
font-size: 10px;
height: 6%;
}
#zeus{
position: relative;
left: 0%;
width: 50%;
}
.bow{
display: flex;
/* border: 2px solid red; */
flex-direction: row;
position: relative;
flex-wrap: wrap;
justify-content: center;
align-items: center;
bottom: -5%;
width: 100%;
}
.delta{
display: flex;
flex-direction: row;
/* border: 2px solid blue; */
width: 100%;
position: relative;
bottom: -6%;
right: 0%;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.thor{
display: flex;
flex-direction: row;
/* border: 2px solid gray; */
flex-wrap: wrap;
justify-content: center;
align-items: center;
width: 100%;
bottom: -8%;
position: relative;
}
.lid{
display: flex;
flex-direction: row;
/* border: 2px solid yellow; */
flex-wrap: wrap;
justify-content: center;
align-items: center;
width: 100%;
position: relative;
bottom: -14%;
}
.war{
display: flex;
flex-direction: row;
/* border: 2px solid green; */
flex-wrap: wrap;
justify-content: center;
align-items: center;
position: relative;
width: 100%;
bottom: -20%;
}
#hi{
display: flex;
flex-direction: row;
/* border: 2px solid burlywood; */
width:50%;
right: 0%;
position: relative;
} 
#dua{
display: flex;
flex-direction: row;
/* border: 2px solid orange; */
justify-content: center;
align-items: center;
width: 50%;
top: 30%;
position: relative;
}
#ray{
display: flex;
width: 50%;
flex-direction: row;
/* border: 2px solid ; */
align-items: flex-end;
justify-content: flex-end;
position: relative;
bottom: 0%;
left: 0%;
}