.block{
background-color:#f5f6fa;
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
/* border: 2px solid blue; */
}
.ground{
/* border: 2px solid black; */
height: 50%;
width: 70%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.stan{
display: flex;
justify-content: center;
/* border: 2px solid yellow; */
flex-direction: row;
align-items: center;
position: relative;
top: 0%;
right: 0%;
width: 100%;
}
.Logo{
width: 60%;
height: 70%;
position: relative;
bottom: 15px;
display: inline-block;
left: 0%;
}
.Button{
/* position: relative; */
top: 60px;
left: -460px;
display: inline-block;
border: 2px solid black;
}
.btn{
width: 400px;
height: 50px;
background-color: #5db5c4;
color: white;
}
.icon{
border-radius: 50%;
border: none !important;
background-color: #f5f6fa !important;
position: relative;
bottom: 40%;
left: 10%;
}
.material-icons{
font-size: 40px; 
}
#out{
color: black;
border: 1px solid black !important;
border-radius: 50% !important;
background-color: #f5f6fa !important;
}
.btn:focus{
box-shadow: none !important;
}
#now:hover{
color: white !important;
background-color: #398d9c;
}
#myBtn:hover{
color: white !important;
background-color: #398d9c;
}
#now{
width: 100%;
/* padding-top: 11px; */
position: relative;
left: 0%;
top: 0%;
}
#myBtn{
width: 100%;
position: relative;
left: -30px;
top: 0px;
}
#wall{
position: relative;
bottom:15%;
}